.background {
    height: calc(100vh - 64px);
    background-color: lightgray; 
    overflow: auto;
}

.div-card {
    display: flex;
    justify-content: center;
}

mat-card {
    margin: 1rem;
}

mat-card-content {
    justify-content: left;
    text-align: left;
}

li {
    padding: 5px;
}