<div class="div-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>INSTRUCTIONS ON CARE OF THE TATTOO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <ol>
                    <li>
                        The tattoo has to be protected from dehydration or getting too wet.
                    </li>
                    <li>
                        The foil applicated by the tattoo artist just after the tattoo is finished needs to be changed once by the client before going to bed (handling may vary depending on the advice of tattoo artist).
                    </li>
                    <li>
                        After removing the foil the tattoo needs to be treated with clean hands and washed with soap and water. It has to be dried immediately with a paper towel.
                    </li>
                    <li>
                        During the first night only the foil is being used to cover the tattoo, without applying the cream. (regular domestic transparent plastic sheet = foil is perfect tool, wrapping/covering the body part where the tattoo is located).
                    </li>
                    <li>
                        The following morning the foil has to be removed and the tattoo has to be washed and dried again (see instructions in point 3). 
                        After finalizing this process and waiting some minutes, it has to be verified with the help of a paper towel if the surface of the skin on the tattood area is still open or closed. 
                        If the tattoo is still leaking paint or bleeding, application of the cream first and then cobering with foil is necessary. 
                        Otherwise application of a thin layer of cream only is enough. 
                        Application of too much cream is causing soaking the skin which may demage the tattoo.
                    </li>
                    <li>
                        Continous creaming of the tattoo is necessary during the healing process to prevent the skin from drying out or getting too wet. 
                        Application of tattoo cream: on the first week 3 times/day, from the second week 2 times/day. 
                        In case of dry skin these numbers may vary.
                    </li>
                    <li>
                        The duration of the healing process is 5-15 days. It may last more or less time, depending on the quality of post-treatment and/or the state immune system of the client.
                    </li>
                    <li>
                        During the healing process the following activities are forbidden: doing sports, using sauna or solarium, sunbathing, swimming, having a bath and having long showers soaking the tattoo.
                    </li>
                    <li>
                        During the healing process the tattoo has to be treated like a wound. 
                        The tatto is considered to be completely healed after it is scabbed, and the pieces of scabs fall off by themselves. 
                        Once the healing process terminates, activities listed in the previous point (8) are not prohibited anymore, but the client acknowledges that using solarium, sunbathing or soaking the skin can cause damage to the tattoo.
                    </li>
                    <li>
                        Application of the special tattoo cream, regular body lotion is recommended after the end of the healing process, as well. While sunbathing special sunscreen lotion for tattoo is recommended to be applied.
                    </li>
                </ol>
            </div>
        </mat-card-content>
    </mat-card>
</div>

