<div class="div-flex">
    <h1>Login</h1>
    <div class="div-form">
        <mat-form-field>
            <mat-label for="email">Email: </mat-label>
            <input matInput type="text" [formControl]="email"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="password">Password: </mat-label>
            <input matInput type="password" [formControl]="password"/>
        </mat-form-field>
        <span class="loading-spinner" *ngIf="loading">
            <mat-spinner [diameter]="50"></mat-spinner>
        </span>
        <span *ngIf="!loading">
            <button mat-raised-button color="primary" (click)="login()">Login</button>
            <button mat-raised-button color="primary" [routerLink]="'/register'">Sign up</button>
        </span>
    </div>
</div>

