a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgrey;
}

.nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

mat-sidenav {
    width: 250px;
}

.content {
    height: calc(100vh - 64px);
    align-items: center;
    overflow: auto;
}

mat-toolbar {
    height: 64px;
}