<mat-sidenav-container>
  <mat-sidenav #sidenav>
      <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary">
          <div fxHide.gt-xs>
              <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                  <mat-icon>menu</mat-icon>
              </button>
          </div>
          <div><a routerLink="/main">THE TATTOO PROJECT</a></div>
          <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
              <ul class="nav-items" fxLayout fxLayoutGap="10px">
                  <li><a routerLink="/reservations">Reserve</a></li>
                  <li><a routerLink="/my-reservations">My reservations</a></li>
                  <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
                  <li *ngIf="!(loggedInUser)"><a routerLink="/register">Register</a></li>
                  <li><a routerLink="/care">Care</a></li>
                  <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
              </ul>
          </div>
      </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      </mat-sidenav-content>
</mat-sidenav-container>