<div class="div-flex">
    <h1>Register an account!</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
            <form formGroupName="name" class="subForm">
                <mat-form-field>
                    <mat-label for="firstname">Firstname: </mat-label>
                    <input matInput type="text" formControlName="firstname" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="lastname">Lastname: </mat-label>
                    <input matInput type="text" formControlName="lastname" />
                </mat-form-field>
            </form>
        </div>
        <mat-form-field>
            <mat-label for="email">Email: </mat-label>
            <input matInput type="text" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="password">Password: </mat-label>
            <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="rePassword">Confirm password: </mat-label>
            <input matInput type="password" formControlName="rePassword" />
        </mat-form-field>
        <div class="buttons-container">
            <span class="buttons">
                <button mat-raised-button color="primary" type="sumbit">Register</button>
            </span>
            <span class="buttons">
                <button mat-raised-button color="primary" (click)="onBack()">Back</button>
            </span>
        </div>
    </form>
</div>