<div class="div-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Welcome to The Tattoo Project's homepage!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                This is the website of a fictitious tattoo studio, created for a web development frameworks class at the University of Szeged. 
                All the content of this site is fictional, this place does not exist in reality. 
                I hope this will make you want to look at the site and try it out.
            </div>
        </mat-card-content>
    </mat-card>
</div>

