.div-card {
    background-color: lightgray; 
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card {
    margin: 1rem;
}

mat-card-header {
    text-align: center;
    justify-content: center;
}